<h1>Service Levels</h1>
<div class="container">
<table class="table table-striped table-hover">
  <tr>
    <th>Service Level</th>
    <th>Base Price ($)</th>
    <th>Service Time</th>
    <th>Notes</th>
    <th>Edit | Delete</th>
  </tr>

  <% @services.each do |service| %>
    <tr>
      <td><%= service.service_name %></td>
      <td><%= number_to_currency(service.service_baseprice) %></td>
      <td><%= service.service_duetime %></td>
      <td><%= service.service_notes %></td>
      <td><%= link_to "Edit", edit_service_path(service), class: "btn-xs btn-info" %>&nbsp;
      |&nbsp;<%= link_to "Delete", service_path(service), class: "btn-xs btn-info",
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
    </tr>
  <% end %>
</table>
</div>
