<h1>Create New Client</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@client) do |form| %>

    <%= form.label :client_name, "Client Name" %>
    <%= form.text_field :client_name %>

    <%= form.label :client_streetaddress, "Street Address" %>
    <%= form.text_field :client_streetaddress %>

    <%= form.label :client_floor, "Floor / Suite / Apt #" %>
    <%= form.text_field :client_floor %>

    <%= form.label :client_email, "Email" %>
    <%= form.email_field :client_email %>

    <%= form.label :client_phone, "Phone number" %>
    <%= form.text_field :client_phone %>

    <%= form.label :client_specialinstructions, "Special instructions" %>
    <%= form.text_area :client_specialinstructions %>

    <%= form.submit "Create account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
