<div class="container">
  <h1>Create New Client</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= bootstrap_form_for(@client) do |form| %>

        <%= form.label :client_name, "Client Name" %>
        <%= form.text_field :client_name, hide_label: true %>

        <%= form.label :client_streetaddress, "Street Address" %>
        <%= form.text_field :client_streetaddress, hide_label: true %>

        <%= form.label :client_floor, "Floor / Suite / Apt #" %>
        <%= form.text_field :client_floor, hide_label: true %>

        <%= form.label :client_email, "Email" %>
        <%= form.email_field :client_email, hide_label: true %>

        <%= form.label :client_phone, "Phone number" %>
        <%= form.text_field :client_phone, hide_label: true %>

        <%= form.label :client_specialinstructions, "Special instructions" %>
        <%= form.text_area :client_specialinstructions, hide_label: true, style: "resize:none" %>

        <%= form.submit "Create account", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
