<h1>Fees</h1>
<div class="container">
<table class="table table-striped table-hover">
  <tr>
    <th>Fee Name</th>
    <th>Fee Price ($)</th>
    <th>Fee Category</th>
    <th>Notes</th>
    <th>Edit | Delete</th>
  </tr>

  <% @fee.each do |fee| %>
    <tr>
      <td><%= fee.fee_name %></td>
      <td>$<%= fee.fee_price %>0</td>
      <td><%= fee.fee_category %></td>
      <td><%= fee.fee_notes %></td>
      <td><%= link_to "Edit", edit_fee_path(fee), class: "btn-xs btn-info" %>&nbsp;
      |&nbsp;<%= link_to "Delete", fee_path(fee), class: "btn-xs btn-info",
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
    </tr>
  <% end %>
</table>
</div>
